.ProductCard {
  width: 337px;
  height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  align-items: center;
}

.TextProduct {
  margin: 0;
  color: var(--color-black, #2e2e2e);
  text-align: center;
  font: var(--text-text-medium-1, 500 18px "Poppins", sans-serif);
  margin-top: 16px;
}

.PriceProduct {
  color: var(--color-black, #2e2e2e);
  font: var(--heading-heading-3, 700 24px "Poppins", sans-serif);
  margin: 0;
  margin-top: 8px;
}

.PriceProduct span {
  color: var(--color-yellow, #f8b602);
  font: var(--heading-heading-3, 700 24px "Poppins", sans-serif);
}

.Distance {
  color: var(--color-gray-1, #a098ae);
  text-align: left;
  font: var(--text-regular-text-regular-3, 400 18px "Poppins", sans-serif);
  margin: 0;
  margin-top: 8px;
}
