.TextCategory {
  color: var(--color-gray-1, #a098ae);
  text-align: center;
  font: var(--text-text-regular-1, 400 18px "Poppins", sans-serif);
  width: 95px;
  margin: 0;
}

.CategoryCard {
  gap: 8px;
  background: var(--color-white, #ffffff);
  border-radius: 16px;
  padding: 32px;
  width: 160px;
  height: 160px;
  border: none;
}
