.TextCategory {
  color: var(--color-gray-1, #a098ae);
  text-align: center;
  font: var(--text-text-regular-1, 400 18px "Poppins", sans-serif);
  width: 95px;
  margin: 0;
}

.CategoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--color-white, #ffffff);
  border-radius: 16px;
  padding: 32px;
  width: 160px;
  height: 160px;
  border: none;
}

@media (max-width: 1400px) {
  .CategoryCard {
    padding: 32px;
    width: 130px;
    height: 130px;
    border-radius: 12px;
  }
  .TextCategory {
    font: var(--text-text-regular-1, 400 16px "Poppins", sans-serif);
    width: auto;
  }
}

@media (max-width: 1200px) {
  .CategoryCard {
    padding: 32px;
    width: 218px;
    height: 130px;
    border-radius: 12px;
  }
  .TextCategory {
    font: var(--text-text-regular-1, 400 16px "Poppins", sans-serif);
    width: auto;
  }
}

@media (max-width: 992px) {
  .CategoryCard {
    width: 215px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .CategoryCard {
    width: 250px;
  }
}

@media (max-width: 575px) {
  .CategoryCard {
    gap: 2px;
    width: 90px;
    height: 90px;
  }
  .CategoryCard img {
    width: 30px;
    height: 30px;
  }
  .TextCategory {
    font: var(--text-text-regular-1, 400 12px "Poppins", sans-serif);
    width: auto;
  }
}

@media (max-width: 485px) {
  .CategoryCard {
    gap: 2px;
    width: 70px;
    height: 70px;
  }
  .CategoryCard img {
    width: 24px;
    height: 24px;
  }
  .TextCategory {
    font: var(--text-text-regular-1, 400 12px "Poppins", sans-serif);
    width: auto;
  }
}
