.SearchBar {
  background: var(--color-white, #ffffff);
  border-radius: 16px;
  padding: 2px 32px 2px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 400pxpx;
  height: 50px;
}

.SearchBar input {
  width: 400px;
  height: 50px;
  border: none;
  color: var(--color-gray-1, #a098ae);
  text-align: left;
  font: var(--text-text-regular-1, 400 18px "Poppins", sans-serif);
}

@media (max-width: 1400px) {
  .SearchBar {
    width: 400px;
    height: 40px;
  }
  .SearchBar input {
    width: 300px;
    height: 40px;
    font: var(--text-text-regular-1, 400 14px "Poppins", sans-serif);
  }
}

@media (max-width: 992px) {
  .SearchBar {
    width: 200px;
    height: 40px;
  }
  .SearchBar input {
    width: 150px;
    height: 40px;
    font: var(--text-text-regular-1, 400 10px "Poppins", sans-serif);
  }
}
