.WrapperProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .WrapperProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .Headline {
    font: var(--heading-heading-1, 600 24px "Lato", sans-serif);
  }
}
