.Homepage {
  display: flex;
  width: 100%;
  padding: 0;
}

.Content {
  margin-left: 250px !important;
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  margin: 0;
}

.Header {
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-between;
}

.UserInput {
  display: flex;
  align-items: center;
  margin-left: 130px;
  gap: 30px;
}

.SearchBtn {
  background: #f8b602 !important;
  border-radius: 16px;
  width: 150px;
  height: 50px;
}

.Category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.WrapperCategory {
  display: flex;
  gap: 16px;
  align-items: center;
}

@media (max-width: 1400px) {
  .UserInput {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
  }
  .SearchBtn {
    background: #f8b602 !important;
    border-radius: 16px;
    width: 120px;
    height: 45px;
  }
  .HeadlineText {
    font: var(--heading-heading-1, 600 20px "Poppins", sans-serif);
  }
}

@media (max-width: 992px) {
  .SearchBtn {
    background: #f8b602 !important;
    border-radius: 16px;
    width: 120px;
    height: 40px;
  }

  .HeadlineText {
    font: var(--heading-heading-1, 600 16px "Poppins", sans-serif);
  }
  .SearchBtn {
    background: #f8b602 !important;
    border-radius: 16px;
    width: 100px;
    height: 40px;
    font: var(--heading-heading-1, 600 12px "Poppins", sans-serif);
  }
  .UserInput {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .Content {
    margin: 0 !important;
  }
  .UserInput {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .HeadlineText {
    font: var(--heading-heading-1, 600 24px "Poppins", sans-serif);
  }
}

@media (max-width: 575px) {
  .HeadlineText {
    font: var(--heading-heading-1, 600 24px "Poppins", sans-serif);
  }
}

@media (max-width: 485px) {
  .HeadlineText {
    font: var(--heading-heading-1, 600 16px "Poppins", sans-serif);
  }
  .Content {
    gap: 24px;
  }
}

@media (max-width: 428px) {
  .Content {
    gap: 20px;
  }
  .UserInput {
    gap: 12px;
  }
}
